<app-card [title]="'Produtos'">
  
    <div header-right style="margin-right:10px; margin-left:10px;">
      <button type="button" class="btn btn-success waves-effect" (click)="abrirPopupIncluir()">Novo</button>
    </div>
  
    <app-modal-basic #modal [dialogClass]="'modal-lg'">
      <div class="app-modal-header">
        <h4 class="modal-title">Produtos</h4>
        <button type="button" class="close basic-close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <div class="app-modal-body">
  
        <form [formGroup]="form" *ngIf="modal.visible">
          <div class="row">
            <div class="col-sm-6 m-b-10">
              <h4 class="label-top">Nome</h4>
              <input formControlName="nome" placeholder="Nome" [(ngModel)]="produto.nome" type="text" class="form-control">
              <div class="messages text-danger" *ngIf="(!form.controls['nome'].valid && form.controls['nome'].touched) || (!form.controls['nome'].valid && btnSalvarClicked)">Digite o nome</div>
            </div>
            <div class="col-sm-6 m-b-10">
              <h4 class="label-top">Valor Venda</h4>
              <input formControlName="valorVenda" placeholder="Valor" [(ngModel)]="produto.valorVenda" type="text" class="form-control">
              <div class="messages text-danger" *ngIf="(!form.controls['valorVenda'].valid && form.controls['valorVenda'].touched) || (!form.controls['valorVenda'].valid && btnSalvarClicked)">Digite o valor</div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 m-b-10">
              <h4 class="label-top">Quantidade estoque</h4>
              <input formControlName="quantidadeEstoque" placeholder="Quantidade" [(ngModel)]="produto.quantidadeEstoque" type="text" class="form-control">
              <div class="messages text-danger" *ngIf="(!form.controls['quantidadeEstoque'].valid && form.controls['quantidadeEstoque'].touched) || (!form.controls['quantidadeEstoque'].valid && btnSalvarClicked)">Digite a quantidade disponível</div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 m-b-10">
              <h4 class="label-top">Descrição</h4>
              <input formControlName="descricao" placeholder="descricao" [(ngModel)]="produto.descricao" type="text" class="form-control">
            </div>
          </div>
        </form>
  
      </div>
      <div class="app-modal-footer">
        <button type="button" class="btn btn-default btn-outline-default waves-effect" (click)="modal.hide()">
          <i class="icofont icofont-close"></i>Fechar</button>
        <button *ngIf="produto.id" class="btn btn-danger" (click)="confirmApagar()">
          <i class="icofont icofont-trash"></i>Apagar</button>
        <button (click)="salvar(); btnSalvarClicked = true;" type="button" class="btn btn-primary waves-effect waves-light ">
          <i class="icofont icofont-save"></i>Salvar
        </button>
      </div>
    </app-modal-basic>

    <app-produtos-lista (alterar)="abrirAlteracao($event)"></app-produtos-lista>
  
  </app-card>
  
  <ng2-toasty [position]="'top-right'"></ng2-toasty>
  